body{
  background: url(fondo.jpg);
}
.fondo{
  border: 1px solid black;
  background:white;
}
header{
  padding: 10px;
  background:url(images.jpg);
  height: 100px;
}

.contenedor{
  background: rgba(3, 3, 3, 0.70);
  border:1px solid rgba(255,255,255,.25);
  color: white;
}

body {
  
  font-family: 'Roboto', sans-serif;
}
  


#ficha {
  
  padding-left: 100px;
  padding-right: 100px;
}
    
#imagen {
  width: 250px;
  height: 250px;
  background-size: 250px 250px;
}